.symbol-wrapper {
    text-align: center;
}

.symbol-container {
    border: solid 1px #808080;
    display: inline-block;
}

.symbol-image {
    width: 216.9px;
    height: 216.9px;
    vertical-align: middle;
}

.symbol-label {
    font-size: 14px;
    color: #1f1f1f;
    background-color: #d3d3d3;
}

.invite-container {
    text-align: center;
}