html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #393939;
}

header {
    padding: 0.5em;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: black;
}

header:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.125);
}

header * {
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

a.logo-container {
    text-decoration: none;
}

img.logo-image {
    width: 75px;
    height: 75px;
}

span.logo-label {
    color: white;
}

nav.main-nav a {
    padding: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: lightgray;
}

nav.main-nav a:hover {
    transition: color 0.5s;
    color: red;
}

nav.main-nav li:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black inset;
}

div.wrapper {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

main {
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1em;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px red inset, 0px 0px 10px 0px black;
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.5);
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    transition: color 0.25s;
    color: red;
}
